@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

/*Color*/
:root {
    --first-color: #12192C;
    --text-color: #8590AD;
}

/*Font*/
:root {
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
    :root {
    --big-font-size: 2.5rem;
    --normal-font-size: 1rem;  
    }
}

*, ::before,::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    color: var(--first-color);
}

h1 {
    margin: 0;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.l-form {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.shape1,
.shape2 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.shape1 {
    top: -7rem;
    left: -3.5rem;
    background: linear-gradient(180deg, var(--first-color) 0%, rgba(196, 196, 196,0) 100%);
}

.shape2 {
    bottom: -6rem;
    right: -5.5rem;
    background: linear-gradient(180deg, var(--first-color) 0%, rgba(196, 196, 196,0) 100%);
    transform: rotate(180deg);
}

/*Form Styling Start*/
.form {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 1 rem;
}

.form__content {
    width: 290px;
}

.form__img {
    display: none;
}
/*Form Styling End*/
